@font-face {
    font-family: 'BebasNeuePro-Smebd';
    src: url('/bebasneupro-smebd-webfont.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeuePro-Smerg';
    src: url('/bebasneupro-smerg-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
body {
    background: #fff;
    font-size: 10pt
}

div#page {
    width: auto
}

#quickstart,
div#left {
    display: none
}

div#heading,
div#right {
    width: auto;
    margin: 0 5%;
    padding: 0;
    border: 0;
    background: 0 0
}

div#heading #sitename {
    margin-left: 0;
    color: #000
}

div#languageSelection {
    display: none
}

div#content a:link,
div#content a:visited {
    padding: 0;
    text-decoration: underline;
    color: #000;
    background-image: none
}

div #content fieldset div.field a:link,
div #content fieldset div.field a:visited {
    text-decoration: none
}

#content a.edit-link span.empty {
    display: none
}

.box,
table caption,
table th {
    background: #fff !important
}

h1,
h2,
h3,
h4,
table caption,
table th {
    color: #000 !important
}

div#content {
    padding: 0;
    margin: 0;
    width: auto;
    background: 0 0
}

div#content.rounded-corner-left h1 {
    background-image: none;
    padding: 0;
    margin: 0
}

div#extras ol li a,
div#extras ol li span.a {
    color: #000
}

div#extras ol li {
    background-image: none;
    padding: 0 .3em;
    margin: 0;
    margin-bottom: 5px
}

div#extras ol li a:before,
div#extras ol li span.a:before {
    content: " / "
}

div#extras ol li.first a:before {
    content: ""
}

div.helptext {
    width: 450px !important
}

.fx div.helptext {
    position: relative !important;
    display: block !important;
    clear: both !important;
    width: 450px !important;
    margin-top: 0 !important;
    margin-left: 30% !important;
    background: url(../bundles/youthpasswebsite/img/helptext-top.png) left top no-repeat !important;
    padding-top: 5px !important;
    padding-right: 0 !important;
    border-top: 1px solid #fff !important;
    position: relative !important;
    left: 0 !important;
    top: 0 !important
}

.fx div.helptext div.content {
    border: 1px solid #da7 !important;
    border-top: 0 !important;
    padding: .3em !important;
    font-size: 80% !important
}

button,
button.disabled,
input.button {
    background-color: #ddd;
    color: #000;
    border: 1px solid #000
}

form div.imageResize a.larger,
form div.imageResize a.smaller {
    display: none !important
}
